
$global-primary-background: #f7532d;
$global-font-family: 'Open Sans', sans-serif;

$animation-duration: 0.4s !default;
$animation-fade-duration: 0.4s !default;

$width-medium-width: 300px !default;
$width-large-width: 450px !default;
$width-xlarge-width: 600px !default;
$width-xxlarge-width: 750px !default;