
html,body{
    width: 100%;
    overflow: hidden;
}

html{
    height:100%;
    overflow-y:auto;
}

.uk-text-dark{
    color:#333 !important;
}

section.thumbnail-grid-section .caption .caption-inner{
    padding-left:20px;
}

section.thumbnail-grid-section .caption p:last-child{
    margin-bottom:0;
}

em{
    color: inherit !important;
}

section{
    position:relative;
}

.single section{
    .section-inner{
        padding:0 40px;
    }
}

@media(max-width:1360px) {
    #post-content {
        padding: 0 30px;
    }
}