.underline{
    position:relative;
    display: inline-block;

    &:before{
        content:"";
        display: block;
        width:100%;
        height:100%;
        border-bottom:4px solid;
        border-bottom-color: $global-primary-background;
        position: absolute;
        top:0;
        left:0;
    }

    &.underline-black:before{
        border-bottom-color:black !important;
    }

    &.underline-white:before{
        border-bottom-color:white !important;
    }
}

*[uk-scrollspy]{
    .underline{
        &:before{
            width:0;
        }
    }
}

.uk-scrollspy-inview{
    .underline:before{
        width:100%;
        transition: width .3s 1s;
        -webkit-transition: width .3s 1s;
    }
}

.primary-border-left{
    border-left:4px solid $global-primary-background;
}


.jt-text-link{
    text-transform: uppercase;
    letter-spacing: .05em;
}

.jt-dark{
    color:black;
}

.jt-dark h1,.jt-dark h2,.jt-dark h3,.jt-dark h4,.jt-dark h5,.jt-dark h6{
    color:black;
}

.jt-z-1{
    z-index: 1;
}

.jt-ar-40{
    position:relative;
    height:0;
    padding-bottom:40%;
}

.jt-ar-5625{
    position:relative;
    height:0;
    padding-bottom:56.25%;
}

.jt-ar-75{
    position:relative;
    height:0;
    padding-bottom:75%;
}

.jt-ar-100{
    position:relative;
    height:0;
    padding-bottom:100%;
}

.jt-ar-120{
    position:relative;
    height:0;
    padding-bottom:120%;
}

.jt-ar-inner{
    top:0; left:0;
    position:absolute;
    width:100%;
    height:100%;
}

.jt-text-white{
    color: white !important;
}

.jt-v-align-middle{
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.jt-border-tr-30{
    border-top-right-radius:50px;
}

.jt-border-tl-30{
    border-top-left-radius:50px;
}

.jt-border-br-30{
    border-bottom-right-radius:50px;
}

.jt-border-bl-30{
    border-bottom-left-radius:50px;
}

.jt-background-light{
    background-color:#eee;
}

.border-left-primary{
    border-left: 2px solid $global-primary-background !important;
}

.border-bottom-primary{
    border-bottom: 2px solid $global-primary-background !important;
}