body, html{
    font-weight: 300;
    color:#333;
}

p{
    margin:0;
    margin-bottom:1em;
}

b{
    font-weight: 600;
}

strong{
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    margin:0;
    margin-bottom:.3em;

    b{
        font-weight: 600;
    }

    strong{
        font-weight: 400;
    }
}

*.jt-small{
    font-size: 14px;
}

em{
    color: inherit !important;
}

a.uk-display-block, 
a.uk-display-block *, 
a.uk-display-block:hover, a.uk-display-block:hover *{
    text-decoration: none;
    color:inherit;
}

@media(max-width:$width-large-width){
    body, html{
        font-size: 12px;
    }
    h1{
        font-size:34px;
    }
    h2{
        font-size:30px;
    }
    h3{
        font-size:26px;
    }
    h4{
        font-size:20px;
    }
    h5{
        font-size:16px;
    }
    h6{
        font-size:12px;
    }
    *.jt-small{
        font-size: 10px;
    }
}