section.card-slider-section{
    overflow: visible;
    z-index: 1;

    .section-heading{
        a{
            vertical-align: middle;
        }
        h2{
            vertical-align: middle;
        }

        @media( max-width:500px ){
            h2{
                font-size: 24px;
            }

            padding:10px 0;

            .slide-nav>a{
                padding:4px 10px;
            }
        }
    }

    
    .next-prev-thumb
    {
        height: 70%;
        padding: 0;
        opacity: 0;
        width: 20vw;
        margin-top: -4%;
        z-index: 1;

        @media( max-width:639px ){
            display: none;
        }
    }

    .card-title{
        background:white;
        margin-bottom:-1px;

        @media( max-width:$width-large-width ){
            padding:0 10px;
        }

        h3{
            padding-top:4px;
            color:$global-primary-background;
            font-weight: 400;
        }
    }

    .uk-card-body{
        padding:0;
        width: 40%;
        float:right;
        margin-top:-40px;
        position:relative;
        z-index: 1;

        h1{
            font-weight: 700;
            line-height: 100px;
            font-size: 120px;
            margin:0 0 10px -20px;
            color:$global-primary-background !important;
        }

        @media( max-width:960px ){
            margin-right:10px;

            h1{
                font-size:90px;
                line-height: 75px;
            }
        }

        @media( max-width:$width-large-width ){
            margin-right:18px;

            h1{
                font-size:78px;
                line-height:68px;
                letter-spacing: -.02em;
                margin:0 0 0 -10px;
            }
        }
    }

    @media( min-width:640px ){
        .uk-slider-container{
            overflow: visible;

            .uk-grid{
                margin-top:4%;
                padding-bottom:40px;
            }
            
            li{
                z-index: 0;
                opacity: .5;
                transform:scale(.75); -webkit-transform:scale(.75);
                transform-origin:center center; -webkit-transform-origin:center center;

                transition: transform .3s .0s, -webkit-transform .3s 0s, opacity .3s 0s;
                -webkit-transition: transform .3s .0s, -webkit-transform .3s 0s, opacity .3s 0s;

                .uk-card-body{
                    opacity: 0; transition: opacity .3s;
                    -webkit-transition: opacity .3s;
                }

                &.uk-active{
                    transform:scale(1.15); -webkit-transform:scale(1.15);
                    transition: transform .3s 1s, -webkit-transform .3s 1s, opacity .3s 1s;
                    -webkit-transition: transform .3s 1s, -webkit-transform .3s 1s, opacity .3s 1s;
                    opacity: 1;

                    .uk-card-body{
                        opacity: 1;
                    }

                    z-index: 1;
                }
            }
        }
    }
}