section.iframe-section{
    .jt-ar-5625,.jt-ar-40,.jt-ar-70{
        @media(max-width:1070px){
            padding-bottom:100% !important;
        }
        @media(max-width:800px){
            padding-bottom:120% !important;
        }
        @media(max-width:640px){
            padding-bottom:140% !important;
        }
        @media(max-width:540px){
            padding-bottom:160% !important;
        }
        @media(max-width:480px){
            padding-bottom:180% !important;
        }
        @media(max-width:400px){
            padding-bottom:190% !important;
        }
        @media(max-width:360px){
            padding-bottom:210% !important;
        }
    }
}