section.media-detail-section{

    .uk-card-body{
        visibility: visible !important;
        padding-bottom:50px !important;

        svg.puzzle-icon{
            path{
                opacity: 1;
                transition: all 1.5s 2s;
                -webkit-transition: all 1.5s 2s;
            }
        }

        &.uk-scrollspy-inview{
            svg.puzzle-icon{
                path{
                    &:not(.active){
                        opacity: .1;
                    }
                }
            }
        }
    }

    &.style-green-border{
        .detail .uk-card-body{
            padding:20px; 
            border:10px solid $global-primary-background;
        }
    }

    &.style-white-background{
        div.detail .uk-card-body{
            background-color: white;
        }
    }

    &.media-detail-left{
        &.style-white-background{
            div.detail{
                padding-left:0;
                
                .uk-card-body{
                    border-radius:0 40px 0 0;
                }
            }
        }
    }

    &.media-detail-right{
        &.style-white-background{
            div.detail{
                padding-right:0;
                
                .uk-card-body{
                    border-radius:40px 0 0 0;
                }
            }
        }
    }

    @media( max-width:959px ){
        .media{
            padding-bottom:50% !important;
        }

        &.overlay-detail{
            .media{
                padding-bottom:87% !important;
            }
        }
    }

    @media( max-width:$width-xlarge-width ){
        .media{
            padding-bottom:56.25% !important;
        }

        &.overlay-detail{
            .media{
                padding-bottom:120% !important;
            }
        }
    }

    @media( max-width:$width-large-width ){
        .media-svg{
            padding:20px 10px 0 10px;
        }

        &.overlay-detail{
            .uk-card-body{
                padding:0;
            }
        }
    }

}