section.quote-grid-section{
    .grid-item-inner{
        padding-right: 20%;
    }
    .uk-grid{
        margin-right: -40px;
    }
    @media(max-width: 960px){
        padding-top:40px;
        .quote-icon{
            width:75px;
            right:20px;
            margin-top:4px !important;
        }
    }

    @media(min-width:$width-xlarge-width){
        &.rows-1{
            text-align:center;

            .quote-icon{
                right: 0;
                margin: 0 auto;
                left: 0;
            }

            >div{
                padding-left:8vw !important;
                padding-right:8vw !important;

                .uk-grid{
                    margin:0;
                }
            }

            .grid-item{
                width:100%;
                padding:0;
            }

            .grid-item-inner{
                padding-right: 0;
            }
        }
    }
}