section.resource-grid-section{
    &.last-page #loadmore{
        display: none;
    }

    div.filters{
        background-color:rgba(10,10,10,.9) !important;

        ul.terms-list{
            >li{
                >a:hover *{
                    color: #666 !important;
                }

                &.uk-active{
                    >a{
                        *{
                            color: $global-primary-background !important;
                        }
                    }
                }

                >a[data-active='false']{
                    opacity: .4;
                }
            }
        }
    }
}