section.slideshow-section{
    @media( max-width:960px ){
        
        .jt-ar-40,.jt-ar-5625{
            padding-bottom:75%;
        }
    }

    @media( max-width:$width-xlarge-width ){

        .jt-ar-40,.jt-ar-5625{
            padding-bottom:120%;
        }
    }

    @media( max-width:$width-large-width ){

        .jt-ar-40,.jt-ar-5625{
            padding-bottom:140%;
        }
    }

    .uk-slideshow-items{
        position: absolute;
        top:0;
        width:100%; height:100%;
        z-index: 0;
        transition: height .3s;
        -webkit-transition: height .3s;
    }

    &:first-child{
        .uk-card-body{
            padding-top:80px;
        }
    }
}