section.brand-slider-section{
    >div{
        border-radius: 40px 5px 40px 5px !important;
    }

    @media(max-width:440px){
        padding:0 !important;

        >div{
            border-radius:0 !important;
        }
    }

    @media(min-width:481px){
        &.padding-overlap, &.padding-overlap-both{
            padding-top:0;
            margin-top:-40px;
            background-color:transparent !important;
            z-index: 1;
        }

        &.padding-overlap-bottom, &.padding-overlap-both{
            padding-bottom:0;
            margin-bottom:-40px;
            background-color:transparent !important;
            z-index: 1;
        }
    }

    &.brand-slider-left{
        padding-left:0;

        >div{
            border-radius: 0 5px 40px 0 !important;
        }

        @media(min-width:480px){
            padding-right:12.5%;
        }
    }
    &.brand-slider-right{
        padding-right:0;

        >div{
            border-radius: 40px 0 0 5px !important;
        }

        @media(min-width:480px){
            padding-left:12.5%;
        }
    }
}