section.form-section{
    .uk-background-contain{
        .jt-ar-100{
            @media(max-width:960px){
                padding-bottom:56.25%;
            }
            @media(max-width:$width-large-width){
                padding-bottom:40%;
            }
        }
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: black;
opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: black;
}