section.mission-detail-grid-section{
    .background-container{
        padding:0 6% 10% 0 !important;
    }

    .section-heading{
        padding-right:6% !important;
    }

    @media(max-width:1200px){
        .background-container{
            padding:0 !important;
        }
        .section-heading{
            padding-right:0 !important;
        }
    }
    @media(max-width:440px){
        .grid-container{
            padding:0 !important;
        }
    }
}