.footer{
    background-color: black;

    .uk-icon-button{
        background: white;
        color: black;
    }
	.footer-download {
		align-items: center;
		display: flex;
		@media (max-width: 767px) {
			display: block;
		}
		
		span {
			color: rgba(255, 255, 255, 0.7);
			display: block;
			line-height: 125%;
			margin: 0 10px 0 0;
			@media (max-width: 767px) {
				margin: 0 0 10px;
			}
		}
		a {
			display: block;
			margin: 0 10px 0 0;
			@media (max-width: 767px) {
				display: inline-block;
				margin: 0 0 5px;
			}
			img {
				display: block;
				max-width: 100px;
			}
		}
	}
}