form{
  
  text-align: left;

  input[type='text'],
  input[type='email'],
  input[type='phone'],
  input[type='number']{
    background:none !important;
    background-color:transparent !important;
    border:none;
    border-radius: 0;
    border-bottom:1px solid black;
    margin:0 4px;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    display: inline-block;

    &:focus, &:active{
      box-shadow: none !important;
      outline:none !important;
    }
    
    font-weight: 300;

    
  }

  label{
    font-size:1.1rem;
  }

  h4{
    line-height: 1.5em;
  }

  input[type='checkbox']{
    vertical-align: middle;
    color:black !important;
    background-color:transparent;
    border-color: black;
  }

  label{
    color:black !important;
    vertical-align:middle;
  }

  @media(max-width:$width-large-width){
    input[type='text'],
    input[type='email'],
    input[type='phone'],
    input[type='number']{
      padding:0;
      font-size:1.5rem;
    }
    label{
      line-height: 2em;
      font-size:1.5rem;
    }
  }
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    transition: background-color 5000s 0s;
    -webkit-box-shadow: 0 0 0 30px rgba(255,255,255,0) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
}