#page-subnav,#next-prev-nav{
    ul>li{
        >a{
            font-weight: 600;
            color:black;
            font-size: 14px;
            padding:0 20px;
            line-height: 28px;

            &:hover{
                color:#444 !important;
            }
        }

        &.uk-active{
            >a{
                color:white !important;
            }
        }
    }
    >.uk-navbar-dropbar{
        background-color:$global-primary-background;
    }
    >.uk-navbar-container>.uk-navbar-center>ul>li,
    >.uk-navbar-right>ul>li,
    >.uk-navbar-left>ul>li{
        >a{
            min-height:50px;
        }
    }
}

.uk-dotnav{
    >li{
        >a{
            border-radius:0;
            background-color:rgba(200,200,200,.3);
        }

        &.uk-active{
            >a{
                background-color:$global-primary-background !important;
            }
        }
    }
}

#breadcrumb-nav{
    padding:8px 30px 10px 0;

    .uk-breadcrumb>:last-child>* {
        color: rgba(255,255,255,.8);
    }
}

#main-nav{
    z-index: 1000;  
    height:80px;

    .uk-navbar-dropdown{
        box-shadow: 0 6px 4px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 6px 4px rgba(0,0,0,.1);
    }

    @media( max-width:960px ){
        height:60px;
    }

    #login-button{
        border-left:1px solid #CCC;

        h6{
            color:#999;
        }
    }

    #navigation_item_menu_items>a:hover{
        .uk-text-primary{
            color:#999 !important;
        }
    }

    .uk-navbar-right{
        padding:10px;

        >ul.uk-navbar-nav>li{
            >a#login-button, >a.uk-button-primary{
                min-height:60px;
                
                @media(min-width:1200px){
                    h6{
                        padding:0 20px !important;
                    }
                }

                @media(max-width:960px){
                    border:none;
                }

                @media(max-width:480px){
                    border:none;

                    h6{
                        font-size:14px !important;
                    }
                }
            }
        }
    }

    .uk-navbar-nav>li{
        >a{
            text-align: center;
            text-transform:none;
            min-height:60px;

            @media(max-width:1060px){
                padding:0 10px;
            }

            @media(min-width:1200px){
                padding:0 20px !important;
            }

            &:not(.uk-navbar-toggle){
                min-height:100%;
            }

            h6{
                line-height:1.1em;
                margin:0; padding:0;
            }

            &.uk-search-icon{
                color:$global-primary-background;
            }
        }

        &.uline-nav-btn{
            >a{
                &:hover, &.uk-open{
                    background-color:black;
                    position: relative;

                    h6{
                        color: white;
                    }

                    &:after, 
                    &:after{
                        content: "";
                        display: block;
                        width: 50%;
                        position: absolute;
                        border-bottom: 2px solid $global-primary-background;
                        bottom: 20px;
                    }
                }
            }
        }
    }
}