#mobile-menu{
    ul.uk-nav-sub{
        padding:20px;
    }

    li.uk-parent{
        >a:hover{
            h4{
                color:#666 !important;
            }
        }
    }

    li>a.get-demo{
        background-color:$global-primary-background;
        display: inline-block;
        height:auto;
        padding:20px;
        margin-top:10px;
        

        h4{
            color:white !important;
            margin:0;
            padding-right:10px;
        }

        &:hover{
            background-color: black;
            h4{
                color:white !important;
            }
        }
    }
}