li.post>a{
    overflow:hidden;

    span.readmore{
        color:$global-primary-background;
    }
    

    .hover-bg{
        position: absolute;
        top:0; left:0; width:0%; height:100%;
        z-index: 0;
        background-color:white;
    }

    .uk-card-body{
        position: relative;
        z-index: 0;
    }

    .border{
        position: absolute;
        top:0; left:0; width:100%; height:100%;
        z-index: 2;

        transition: all .4s .1s;
        -webkit-transition: all .4s .1s;
    }

    &:hover{
        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.3);

        .border{
            -webkit-box-shadow: inset 0px 0px 0px 6px $global-primary-background;
        }

        h3{
            font-weight: 400;
            letter-spacing: -.017em;
        }

        .hover-bg{
            width:100%; 
            transition: left .4s .3s, width .4s .1s ;
            -webkit-transition: left .4s .3s, width .4s .1s ;
        }
    }
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Overwrite post a tag styles to allow for internal links <<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


// li.post {
//     &.insight-post {
//         & > a {
//             overflow: visible;
//         }

//         & > .uk-card-wrap {
//             overflow: hidden;
//             position: relative;

//             &.uk-display-block,
//             &.uk-display-block *,
//             &.uk-display-block:hover, &.uk-display-block:hover * {
//                 text-decoration: none;
//             }

//             a {
//                 color: #76ba4d;

//                 &.uk-photo-link {
//                     position: relative;
//                     z-index: 5;
//                     transition: all .4s .1s;
//                     -webkit-transition: all .4s .1s;
//                 }
//             }

//             span.readmore {
//                 color: $global-primary-background;
//             }

//             .hover-bg {
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 width: 0%;
//                 height: 100%;
//                 z-index: 0;
//                 background-color: white;
//             }

//             .uk-card-tag {
//                 position: relative;
//                 padding: 8px 0 0 40px;
//                 z-index: 4;
//             }

//             .uk-card-body {
//                 position: relative;
//                 padding-top: 20px;
//                 z-index: 3;
//             }

//             .border {
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 width: 100%;
//                 height: 100%;
//                 z-index: 2;
//                 transition: all .4s .1s;
//                 -webkit-transition: all .4s .1s;
//             }

//             &:hover {
//                 -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.3);

//                 .border {
//                     -webkit-box-shadow: inset 0px 0px 0px 6px $global-primary-background;
//                 }

//                 h3 {
//                     font-weight: 400;
//                     letter-spacing: -.017em;
//                 }

//                 .hover-bg {
//                     width: 100%;
//                     transition: left .4s .3s, width .4s .1s;
//                     -webkit-transition: left .4s .3s, width .4s .1s;
//                 }

//                 a {
//                     &.uk-photo-link {
//                         padding: 6px 6px 0 6px;
//                     }
//                 }
//             }
//         }
//     }
// }


// .single-post {
//     #post-content {
//         .uk-container {
//             padding-left: 30px;
//             padding-right: 30px;
//             box-sizing: border-box;
//         }
//     }
// }

// @media(min-width: 768px) {
//     .single-post {
//         #post-content {
//             .uk-container {
//                 padding-left: 80px;
//                 padding-right: 80px;
//             }
//         }
//     }
// }

// @media(min-width: 960px) {
//     .single-post {
//         #post-content {
//             .uk-container {
//                 padding-left: 120px;
//                 padding-right: 120px;
//             }
//         }
//     }
// }
