.puzzle-animated {
    position: relative;

    svg {
        path {
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            opacity: 0;
        }
    }

    div.overlay-text {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);

        div {
            float: left;
            position: relative;
            width: 33%;
            opacity: 0;
            transform: translateX(-40px);
            -webkit-transform: translateX(-40px);

            &.puzzle-piece {
                max-height: 272px;

                &> p{
                    display: none;
                }

                a {
                    padding: 80px 0;
                    display: block;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            h4 {
                font-size: 1.5vw;
                font-weight: 700;
                padding: 0 0 0 4.8vw;
                margin-bottom: 4px;
            }

            p {
                font-size: .9vw;
                font-weight: 600;
                padding: 0 20px 0 4.8vw;
                line-height: 1.4em;
                margin-bottom: 0;
            }

            &:first-child {
                h4, p {
                    padding-left: 3vw;
                }
            }
        }
    }

    @media( max-width:960px ) {
        div.overlay-text {
            top: 55%;

            div {
                h4 {
                    font-size: 4vw;
                    padding: 0 0 0 10vw;
                    margin-bottom: 4px;
                }

                p {
                    font-size: 1.8vw;
                    padding: 0 20px 0 10vw;
                    line-height: 1.4em;
                }

                &:first-child {
                    h4, p {
                        padding-left: 5vw;
                    }
                }
            }
        }
    }
}

.uk-navbar-dropdown{
    .puzzle-animated{
        div.overlay-text{
            div{
                h4{
                    font-size:1.3vw;
                    padding:0 20px 0 3.5vw;
                }

                &:first-child{
                    h4,p{
                        padding-left:2vw;
                    }
                }
            }
        }
    }
}

.uk-animation-fade, .uk-open{
    .puzzle-animated{
        svg{
            path{
                transform:translateX(0);
                -webkit-transform:translateX(0);
                opacity: 1;

                transition: all .4s .8s ease-out;
                -webkit-transition: all .4s .8s ease-out;

                &:nth-child(2){
                    transition: all .4s .6s ease-out;
                    -webkit-transition: all .4s .6s ease-out;
                }

                &:nth-child(3){
                    transition: all .4s .4s ease-out;
                    -webkit-transition: all .4s .4s ease-out;
                }
            }
        }
        div.overlay-text{
            div{
                opacity: 1;
                transform:translateX(0);
                -webkit-transform:translateX(0);

                transition: all .3s 1.2s ease-out;
                -webkit-transition: all .3s 1.2s ease-out;

                &:nth-child(2){
                    transition: all .3s 1.3s ease-out;
                    -webkit-transition: all .3s 1.6s ease-out;
                }
                &:nth-child(3){
                    transition: all .3s 1.5s ease-out;
                    -webkit-transition: all .3s 2s ease-out;
                }
            }
        }
    }
}