.uk-notification{
    width:100% !important;
    top:78px; left:0;
    text-align: center;
    z-index: 1;
    background:#333;

    .uk-notification-message{
        width:100% !important;
        background:#333;
        color:white;
        padding:10px 0;
        line-height: .8em; 
    }

    @media(max-width:960px){
        top:60px;
    }

    @media(max-width:$width-large-width){
        padding:0 20px;
    }
}

.uk-grid+.uk-grid-small, .uk-grid-small>.uk-grid-margin, *+.uk-grid-margin-small {
    margin-top:0;
}

.uk-icon[uk-icon='play']{
    padding: 15px 0;
    svg>polygon{
        fill:white;
    }
}

.uk-modal{
    background: rgba(255,255,255,0.8);
}

.uk-modal-dialog{
    width:90%;
    padding:40px;

    @media(max-width:$width-xxlarge-width){
        width:100%;
    }
}

.uk-offcanvas-bar{
    left: -100%;
    width: 100%;
    background-color:white;
    color:black;

    .uk-navbar-nav>li>a{
        color:black !important;
    }

    h4{
        color:black !important;
    }

    h5{
        color:$global-primary-background !important;

        &:hover{
            color:#666 !important;
        }
    }

    .uk-offcanvas-close{
        top:0; right:0;
    }

    #login-button{
        display:inline-block;

        h6{
            color:#666 !important;
        }
    }
}

.uk-container.uk-container-small{
    max-width:980px;
    padding:0;
}

.uk-button-primary{
    color:white !important;

    *{
        color:white !important;
    }

    &:hover, &.uk-open{
        color:white !important;
        background-color:black !important;
    }
}

.uk-light .uk-button-primary{
    background-color:white !important;
    color:$global-primary-background !important;

    *{
        color:$global-primary-background !important;
    }

    &:hover{
        background:black !important;
    }
}

.uk-text-primary, .uk-offcanvas-bar .uk-text-primary{
    color:$global-primary-background !important;
}

.uk-light .uk-text-primary{
    color:white !important;
}

.uk-link-text{
    margin:0 14px 0 0;
}