li.post>a{
    overflow:hidden;

    span.readmore{
        color:$global-primary-background;
    }

    .hover-bg{
        position: absolute;
        top:0; left:0; width:0%; height:100%;
        z-index: 0;
        background-color:white;
    }

    .uk-card-body{
        position: relative;
        z-index: 0;
    }

    .border{
        position: absolute;
        top:0; left:0; width:100%; height:100%;
        z-index: 2;

        transition: all .4s .1s;
        -webkit-transition: all .4s .1s;
    }

    &:hover{
        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.3);

        .border{
            -webkit-box-shadow: inset 0px 0px 0px 6px $global-primary-background;
        }

        h3{
            font-weight: 400;
            letter-spacing: -.017em;
        }

        .hover-bg{
            width:100%; 
            transition: left .4s .3s, width .4s .1s ;
            -webkit-transition: left .4s .3s, width .4s .1s ;
        }
    }
}