body.single{

    @media(max-width:960px){
        .featured-image>div{
            padding-bottom:60% !important;

            h1{
                width:75%;
            }
        }
    }

    @media(max-width:$width-xlarge-width){
        .featured-image>div{
            padding-bottom:100% !important;

            h1{
                width:100%;
            }
        }
    }

    @media(max-width:$width-large-width){
        .featured-image>div{
            padding-bottom:140% !important;
        }
    }
}