body,html{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin:0;
  margin-bottom:.3em;
}
.uk-text-dark{
  color:black !important;
}
section.thumbnail-grid-section .caption .caption-inner{
  padding-left:20px;
}
section.thumbnail-grid-section .caption p:last-child{
  margin-bottom:0;
}
em{
  color: inherit !important;
}
p{
  margin:0;
  margin-bottom:1em;
}
#login-button{
  border-top:none;
  border-bottom:none;
  border-right:none;
}
#main-nav{
  z-index: 1000;
}
#main-nav .uk-navbar-nav>li>a{
  min-height:100%;
  text-transform:none;
  font-weight: 600;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}
#main-nav .uk-navbar-nav>li.uline-nav-btn>a:hover, #main-nav .uk-navbar-nav>li.uline-nav-btn>a.uk-open{
  background-color:black;
  color:white;
  position: relative;
}
#main-nav .uk-navbar-nav>li.uline-nav-btn>a:hover:after, #main-nav .uk-navbar-nav>li.uline-nav-btn>a.uk-open:after{
  content: "";
  display: block;
  width: 50%;
  position: absolute;
  border-bottom: 2px solid green;
  bottom: 20px;
}
.uk-notification{
  width:100% !important;
  top:80px; left:0;
  text-align: center;
  z-index: 1;
}
.uk-notification-message{
  width:100% !important;
  background:#333;
  color:white;
  padding:10px 0;
}
.jt-ar-40{
  position:relative;
  height:0;
  padding-bottom:40%;
}
.uk-offcanvas-bar{
  left: -100%;
  width: 100%;
  background-color:white;
  color:black;
}
.uk-offcanvas-bar .uk-navbar-nav>li>a{
  color:black !important;
}
.uk-offcanvas-bar h4{
  color:black !important;
}
.uk-offcanvas-close{
  top:0; right:0;
}
.resumator-job-title, .resumator-jobs-text,
.resumator-job-info-details, .resumator-job-info{
  text-align: center !important;
  float: none !important;
}
ul.uk-nav-sub{
  padding:20px 30px;
  margin:0 -30px !important;
}
.uk-button-primary{
  background-color:#76BA4D !important;
  color:white !important;
}
.uk-button-primary:hover, .uk-button-primary.uk-open{
  color:white !important;
  background-color:black !important;
}
.underline{
  position:relative;
  display: inline-block;
}
.underline:before{
  content:"";
  display: block;
  width:100%;
  height:100%;
  border-bottom:4px solid #76BA4D;
  position: absolute;
  top:0;
  left:0;
}
.uk-navbar-dropbar{
  top:80px;
}
.uk-light .uk-button-primary{
  background-color:white !important;
  color:#76BA4D !important;
}
.uk-background-primary{
  background-color:#76BA4D !important;
}
.soci-green-border-left{
  border-left: 2px solid #76BA4D !important;
}
.soci-green-border-bottom{
  border-bottom: 2px solid #76BA4D !important;
}
.last-page #loadmore{
  display: none;
}
.uk-text-primary, .uk-offcanvas-bar .uk-text-primary{
  color:#76BA4D !important;
}
.jt-ar-5625{
  position:relative;
  height:0;
  padding-bottom:56.25%;
}
.jt-ar-75{
  position:relative;
  height:0;
  padding-bottom:75%;
}
.jt-ar-100{
  position:relative;
  height:0;
  padding-bottom:100%;
}
.jt-ar-120{
  position:relative;
  height:0;
  padding-bottom:120%;
}

.jt-ar-inner{
  top:0; left:0;
  position:absolute;
  width:100%;
  height:100%;
}
.jt-position-y-center{
  position:relative;
  top:50%;
  transform: translateY(-50%);
}
.jt-border-tr-30{
  border-top-right-radius:30px;
}
.jt-border-tl-30{
  border-top-left-radius:30px;
}
.jt-border-br-30{
  border-bottom-right-radius:30px;
}
.jt-border-bl-30{
  border-bottom-left-radius:30px;
}
.jt-background-light{
  background-color:#eee;
}
input[type='text'],
input[type='email'],
input[type='phone'],
input[type='number']{
  background:none;
  border:none;
  border-bottom:1px solid white;
  margin:0 2px;
}
.uk-link-text{
  margin:0 14px 0 0;
}
.jt-dark{
  color:black;
}
.jt-dark h1,.jt-dark h2,.jt-dark h3,.jt-dark h4,.jt-dark h5,.jt-dark h6{
  color:black;
}
.jt-z-1{
  z-index: 1;
}
h1,h2,h3,h4,h5,h6{
  margin-top:0;
}